*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: url("../img/fundo.png") repeat-x;
}
.container{
    width: 750px;
    margin: 0 auto;
}
.topo{
    height: 150px;
    background: url("../img/detalhe-topo.png") no-repeat right top ;
   
    padding: 24px;
}
.logo{
    width: 152px;
    height: 66px;
    background: url("../img/logo.png");
    text-indent: -3000px;
}
.topo ul{
    margin-top: 30px;
    background: #b10333;
    list-style: none;
    float: left;
}
.topo ul li{
    float: left;
}
.topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url("../img/divisor.png") no-repeat;
}
.topo ul .primeiro a{
    background: none;
}